* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    background-color: var(--background-color);
}
.wrapper {
    margin: 0 auto;
    width: 1322px;
    min-height: 100vh;
}



/*         HEADER           */

header {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
}

.header-wrapper {
    margin: 20px auto;
    width: 1322px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    width: 50%;
}

.header .ul-list {
    display: flex;
    justify-content: space-between;
}

.header__nav a {
    color: var(--text-color);
    font-size: 15px;
    transition: all 0.3s ease-out;
}

.header__nav a:hover {
    color: var(--text-color__on-hover);
}


.header-logo {
    color: var(--text-color);
    font-size: 32px;
}


.films-list {
    max-width: 1362px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.films__title {
    font-family: "Montserrat Alternates", sans-serif;
    margin: 10px 0;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}

/*             FILM               */

.film-card {
    font-family: "Montserrat Alternates", sans-serif;
    width: 420px;
    background-color: rgba(125, 153, 151, 0.5);
    border-radius: 20px;
    overflow: hidden;
}

.film-card__poster img{
    /* margin: 10px auto 0 auto; */
    width: 100%;
    aspect-ratio: 2/3;
    object-fit: cover;
    display: block;
}

.film-card__title {
    margin: 10px 0;
    font-size: 35px;
    font-weight: 600;
    text-align: center; 
}

.film-card__info {
    margin: 15px;
    font-size: 17px;
    font-weight: 400;
}

.film-card__actions {
    padding: 0 15px 13px 13px;
    display: flex;
    gap: 10px;
}

.film-card__btn {
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 17px;
    font-weight: 500;
    flex: 1;
    padding: 15px 30px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

.film-card__btn--watched {
    background-color: #e63946;
    color: #fff;

}

.film-card__btn--watched.is-active {
    background-color: #2a9d8f;
    color: #fff;
}

.film-card__btn--watch {
    background-color: #e63946;;
    color: #fff;
    transition: all 0.3s ease-out;
}
.film-card__btn--watch:hover {
    background-color: #c1121f;
}
